# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\otavi\Desktop\Análise e Desenvolvimento de Sistemas\3 - Terceiro Semestre\03. Programação Orientada a Objetos\ap1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
