# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\otavi\Desktop\Análise e Desenvolvimento de Sistemas\3 - Terceiro Semestre\revisao\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
