<article class="container bg-white">
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th colspan="2" class="text-center">Dados</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nome:</td>
                <td id="nomeContato"></td>
            </tr>
            <tr>
                <td>E-mail:</td>
                <td id="emailContato"></td>
            </tr>
            <tr>
                <td>Telefone</td>
                <td id="telefoneContato"></td>
            </tr>
            <tr>
                <td>Comentário:</td>
                <td id="comentarioContato"></td>
            </tr>
        </tbody>
    </table>
</article>