<article class="container bg-white">
          
    <div class="jumbotron bg-white text-center">

        <h1>Rapaziada de fé </h1>

    </div>

    <div class="row">
        <div class="card col-md-3">

            <img class="card-img-top" src="Assets/img/otavio.jpg" alt="Foto de Perfil">
            <div class="card-body">

            <h4 class="card-title" id="intro">Otávio Borges</h4>
            <p class="card-text">Desenvolvedor e estudante</p>

            <a href="https://www.instagram.com/otavioborgsm/"><i class="fab fa-instagram fa-lg white-text fa-2x"> </i></a>
            <a href="https://www.instagram.com/otavioborgsm/"><i class="bi bi-linkedin"> </i></a>

            </div>

        </div>

        <div class="">

        </div>

    </div>
    
</article>